<!DOCTYPE html>
<html>
<head>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>
<body>




<div class="row">
  <div class="column">
    <a href="https://3245-sasyvelobelo-flask-c5ufj50vy9o.ws-eu33.gitpod.io/it"><img src="static/images/W7niXxle_400x400.jpg" alt="meteo" width="500px" height="500px"></a>
  </div>
  <div class="column">
    <a href="https://3245-sasyvelobelo-flask-c5ufj50vy9o.ws-eu33.gitpod.io/r"><img src="static/images/00.egitto-libri_inside-620x245.jpg" alt="meteo" width="500px" height="500px"></a>
  </div>
  <div class="column">
    <a href="https://3245-sasyvelobelo-flask-c5ufj50vy9o.ws-eu33.gitpod.io/c"><img src="static/images/images.png" alt="meteo" width="500px" height="500px"></a>
  </div>
</div>

</body>
</html>